*~
*.userprefs
packages
.DS_Store
_ReSharper.*
[Bb]in/
[Oo]bj/
*.user
*.suo
*.tlh
*.tss
.svn
*.sln.cache
node_modules/
npm-debug.log
*.orig
ComputerSide/PressTo/Web/Server/Outbox-c8b7d36337c2.p12
ComputerSide/PressTo/Web/Server/outbox.pem
ComputerSide/PressTo/Web/Server/secret.js
