
html{
  background-color: gray;
}
body{
  font-family: Tahoma;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

ul.profiles{
  width: 100%;
  text-align: center;
  vertical-align: center;
  &>li{
    display: inline-block;
    cursor: pointer; cursor: hand;
    vertical-align: middle;
    div.profile {
      margin: 10px;
      border: 10px solid #666;
      height: 192px;
      width: 192px;
      position: relative;
      font-size: smaller;
      &>img{
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .dev_name{
        position: absolute;
        bottom:0;
        left:0;
        text-align: center;
        width: 100%;
        padding:10px 0;
        color: white;
        background-color: rgba(0,0,0,0.5);
      }
      .dev_info{
        width: 100%;
        padding:3px 0;
        color: white;
        background-color: black;
        div{
          margin-top: 8px;
          vertical-align: middle;
        }
        .dev_phone{
          background: url(images/phone-16.png) no-repeat;
          margin-left: 16px;
          padding-top: 3px;
        }
        .dev_hangouts, .dev_vacation{
          padding-left: 5px;
        }
        .dev_skype{
          background: url(images/skype-16.png) no-repeat;
          margin-left: 16px;
        }

      }
    }
  }
}


.profile{
  &>img{
    transition: all 0.1s linear;
  }
  .dev_info{
    @include opacity(0);
    transform: translateY(50px);
    transition: all 0.2s ease-in-out;
  }
}
.profile_animate{
  box-shadow: 0 0 5px #000;
  &>img{
    transform: scale(1.1);
  }
  .dev_info{
    @include opacity(0.9);
    transform: translateY(0px);
    transition-delay: 0.2s;
  }
}
